FLASK_APP=wsgi.py
FLASK_DEBUG=1

SECRET_KEY=change-me
SECURITY_PASSWORD_SALT=change-me
DATABASE_URI=postgresql+psycopg://user:password@127.0.0.1:5433/dbname

MAIL_SERVER=ssl0.ovh.net
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USE_SSL=false
MAIL_USERNAME=contact@example.com
MAIL_PASSWORD=change-me
MAIL_DEFAULT_SENDER=no-reply@example.com

IGN_API_KEY=
IGN_USER_AGENT=parcelle-recs
GEOCODE_API_KEY=
MAPBOX_ACCESS_TOKEN=

CACHE_TYPE=filesystem
CACHE_DEFAULT_TIMEOUT=300
CACHE_DIR=/tmp/
