{% extends "layout.html" %}


{% from "security/_macros.html" import render_field_with_errors, render_field %}


{% block content %}
{% include 'navbis.html' %}



<div class="d-flex flex-column py-5 justify-content-center align-items-center">

    <div class="card rounded shadow p-3 p-md-4 col-10 col-sm-6">
                               <h3 class="text-center font-weight-bold text-primary">
Changer de mot de passe
                               </h3>
<form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
  {{ change_password_form.hidden_tag() }}
  <div class="mb-3">
    <label for="{{ change_password_form.password.id}}" class="form-label">Ancien mot de passe</label>
    {{ change_password_form.password( class="form-control",  placeholder="************")}}
  </div>
  <div class="mb-3">
    <label for="{{ change_password_form.new_password.id}}" class="form-label">Nouveau mot de passe</label>
    {{ change_password_form.new_password( class="form-control",  placeholder="************")}}
  </div>
  <div class="mb-3">
    <label for="{{ change_password_form.new_password_confirm.id}}" class="form-label">Confirmation</label>
    {{ change_password_form.new_password_confirm ( class="form-control",  placeholder="************")}}
  </div>

  {{ render_field(change_password_form.submit,  class="btn btn-dark", value="Confirmer") }}
</form>
</div>
</div>
{% endblock %}
