{% extends 'layout.html' %}

{% block content %}


{% include 'navbis.html' %}

<div class="container py-5">
  <div class="row">
    <h1>En savoir plus</h1>
    <h2>Fonctionnement</h2>
    <p>
      Dans son fonctionnement actuel, Parcelle utilise une copie du Cadastre, stocké localement.
      L'intégralité du cadastre représente plus de 100Go.
    </p>
    <p>
    Afin de réaliser ce MWP avec des moyens limités, nous avons limité la zone de couverture à quelques départements,
    notamment l'Ardèche, le Rhône, l'Isère. Quelques départements sont ajoutés au cas par cas en fonction des demandes.
    </p>
    <p>
      Etalab met à disposition l'ensemble des informations cadastrale sous la forme d'une API.
      Les développements futurs doivent se concentrer sur l'exploitation des données offertes par l'API,
      afin de réduire le risque d'erreur par mauvais millésime ainsi que les frais de stockage.
    </p>
  </div>
</div>
{% endblock %}
